# Streamlit & UI
streamlit==1.26.0
rich==14.1.0
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2

# PyTorch + YOLO
torch==2.3.1           # compatible with torchvision 0.18.1
torchvision==0.18.1
ultralytics==8.3.0

# Image processing
Pillow==9.5.0
opencv-python-headless==4.8.1.78
numpy==1.25.0
