# Streamlit and dependencies
streamlit==1.26.0

# YOLO / segmentation
ultralytics==8.3.0

# PyTorch compatible with Python 3.12
torch==2.8.0
torchvision==0.15.1

# Other dependencies
opencv-python
Pillow
numpy
